extends layout 

block content 
    .container-fluid.px-5.pt-5
        .row
            .col-auto
                .dropdown
                    button.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown button
                    ul.dropdown-menu.dropdown-menu-dark
                        li
                        a.dropdown-item.active(href='#folder-modal' data-bs-toggle='modal' data-bs-target='#folder-modal') Create Folder
                        li
                        a.dropdown-item(href='#upload-modal' data-bs-toggle='modal' data-bs-target='#upload-modal' ) Upload File 


                #folder-modal.modal.fade(tabindex='-1' aria-labelledby='folder-modal' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5 Create Folder
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

                            .modal-body 
                                form#create-folder-form(action="/user/upload/create/folder" method="POST")
                                    .mb-3
                                        label.form-label(for='folder-name') Folder Name
                                        input#folder-name.form-control(type='text' name="folder-name" aria-describedby='folder-name' placeholder="name")

                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit' form="create-folder-form") Create

                #upload-modal.modal.fade(tabindex='-1' aria-labelledby='upload-modal' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5 Upload File 
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

                            .modal-body 
                                form#upload-file-form(action="/user/upload" method="POST" enctype="multipart/form-data")
                                    .mb-3
                                        label.form-label(for='upload-file') Upload File
                                        input#upload-file.form-control(type='file' name="uploaded_file" aria-describedby='upload-file' placeholder="name")

                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit' form="upload-file-form") Upload
    if errors
        .ps-5
            ul
                each error in errors
                    li= error.msg
    .continer.p-5
        .row
            .col 
                h4 All Files
        .row
            .col 
                B Name
        if folders
            each folder in folders
                .row
                    .col-auto
                        <i class="bi bi-folder"></i>
                    .col-auto
                        a(href="/user/" + folder.userId +  "/folder/" + folder.id + "/files") 
                            p #{folder.name}
                    .col
                        .btn-group.dropup
                            buton.btn.dropdown-toggle(type='button' data-bs-toggle="dropdown" aria-expanded="false")
                                <i class="bi bi-three-dots"></i>
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="#edit-modal" + folder.id data-bs-toggle='modal' data-bs-target="#edit-modal" + folder.id) Edit 
                                li
                                    a.dropdown-item(href="#delete-modal" + folder.id data-bs-toggle='modal' data-bs-target="#delete-modal" + folder.id) Delete 

                .modal.fade(tabindex='-1' aria-labelledby='delete-modal' aria-hidden='true' id="delete-modal" + folder.id)
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5 Delete Folder
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

                            .modal-body 
                                h4 Are you sure you want to delete this folder? 
                                form(action="/user/" + user.id + "/folder/" + folder.id + "/delete" id="delete-form"+folder.id method="POST")
                                    .mb-3
                                        p #{folder.id}
                                        input(type="hidden" id="" name="folderid" value=folder.id)

                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit' form="delete-form"+folder.id) Delete

                .modal.fade(tabindex='-1' aria-labelledby='' aria-hidden='true' id="edit-modal" + folder.id)
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1.modal-title.fs-5 Edit Folder
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

                            .modal-body 
                                h4 Edit Name
                                form(action="/user/" + user.id + "/folder/" + folder.id + "/edit" id="edit-form-" + folder.id method="POST")
                                    .mb-3
                                        p #{folder.id}
                                        label(for="edit-name-" + folder.id) Name
                                        br
                                        input(type="text" id="edit-name-" + folder.id  name = "name" value=folder.name)

                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                                button.btn.btn-primary(type='submit' form="edit-form-" + folder.id) Submit
